{# views/delivery/scheduleround.html.twig #}

{% extends 'dvymaster.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/delivery.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
<link href="{{ asset('/css/tree.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src="{{asset('js/L.KML.js')}}"></script>
<script src="{{asset('js/tree.js')}}"></script>
{% endblock %}


{% block middle %}
<div class="delivery">
  {% if message %}
  <div class="heading row">
    <div class="label">Delivery </div>
  </div>
  <H1> No deliverys found </H1>

  {% else %}

  <div class="heading row">
    <div class="label"> Delivery</div>
    <div class="value"> {{delivery.deliveryId}}:</div>
    <div class="value"> {{delivery.Name}}</div>
    <div class="value">HH:{{delivery.Households}}</div>
    <div class="value">TG:{{delivery.Target}}</div>
    <div class="value">CD:{{delivery.Completed}}</div>
    <div class="value">RG:{{delivery.Roadgroups}}</div>
    <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
  </div>
  <div class="heading medium row">
    <div class="label" >RoundID:{{around.roundid}}</div>
    <div class="name" >{{around.name}}</div>
    <div  class="num" >HH:{{around.households}}</div>
    <div  class="num" >TG:{{around.target}}</div>
    <div  class="num" >CD:{{around.completed}}</div>
    <div  class="num" >RG:{{around.roadgroups}}</div>
    <div class="button wide right"> <a class="wide button" href = "/round/update/{{delivery.deliveryId}}/{{around.roundid}}" >Update Round</a> </div>
  </div>

  <div class="list" >
    {% set c=0 %}
    {% for key ,ardgroup in roadgroups %}

    <div class="roadgroup row">
      <div class="rgid  colour_{{c}}">{{ardgroup.roadgroupid}}</div>
      <div class="mediumtext">{{ardgroup.name}}</div>
      <div class="num">HH:{{ardgroup.households}}</div>
      <div class="button wide" >
        <a class="wide button" href = "/roadgroup/showone/{{ardgroup.roadgroupid}}" >View Roadgroup</a>
      </div>
      <div class="button wide delete" >
        <a class="wide button delete" href = "/delivery/removeroadgroup/{{delivery.deliveryId}}/{{around.roundid}}/{{ardgroup.roadgroupid}}" >Remove</a>
      </div>


    </div>
    {% set c= c + 1 %}
    {% endfor %}
  </div>

  <div class="subheading row">
    <div  >Roadgroups not allocated to a Delivery Round..</div>
  </div>

  <ul id="tree"  >
    {% for key ,asubgroup in rgstree %}
    <li><span class="box"> {{key}}:{{ asubgroup.group.Name}}</span>
    <ul class="nested">
      {% for key2 ,arggroup in asubgroup["children"] %}
      <li >
         <span class="box"> {{key2}}:</span>
         <span >{{arggroup.group.Name}}</span>
         <span >HH:{{arggroup.group.Households}}</span>
         <span >RG:{{arggroup.group.Roadgroups}}</span>
         <span > <a class="wide button" href = "/delivery/addallroadgroups/{{delivery.deliveryId}}/{{around.roundid}}/{{key2}}" >Add all to Round</a></span>
         <span > <a class="wide button" href = "/delivery/makerounds/{{delivery.deliveryId}}/{{key2}}" >Make new Rounds</a></span>
        <ul class="nested">
        {% for key3 ,arg in arggroup["children"] %}
        <li>
            <div class=" roadgroup row">
              <div class="rgid" >{{key3}}: </div>
              <div class="name" >{{arg.name }}</div>
              <div class="num" >HH:{{arg.households}}</div>
              <div class="button wide" >
                <a class="wide button" href = "/delivery/addroadgroup/{{delivery.deliveryId}}/{{around.roundid}}/{{key3}}" >Add to Round</a>
              </div>
              <div class="button wide" >
                <a class="wide button" href = "/delivery/makeroundMake akk Rounds
                   /{{delivery.deliveryId}}/{{around.roundid}}/{{key3}}" >Make new Round</a>
              </div>
            </div>
        </li>
        {% endfor %}
        </ul>
      {% endfor %}
      </li>
    </ul>
     </li>
    {% endfor %}
    </ul>
{% endif %}
<div class="map" >
  <div id="goodmapid" ></div>
</div>

{% set geodata = around.getGeodata_json() %}

<script >
  var mymap = myGoodMap("{{geodata}}");
  var i=0;

      {% for keyrg, rg in roadgroups %}
      {% if rg.kml  %}
      var htmltext = "<html> <h1>{{keyrg}}</h1><div> <a class=\"button\" href = \"/delivery/removeroadgroup/{{delivery.deliveryId}}/{{around.roundid}}/{{keyrg}}\" >REMOVE</a></div>";
        var style = {"color":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1.0, "fillOpacity": 1.0 };
        var  kml = "{{rg.kml}}";
        var path = "{{mappath}}roadgroups/"+kml;
        if(kml)
        {
           makeKMLLayer(mymap,path,style,true,htmltext);
        }
      {% endif %}
      i=i+1;
      {% endfor %}
       i=12;
      {% for key ,asubgroup in rgstree %}
      {% for key2 ,arggroup in asubgroup["children"] %}
      {% for key3 ,arg in arggroup["children"] %}
      var htmltext = '<html> <h1>{{key3}}</h1><div> <a class="wide button" href = "/delivery/addroadgroup/{{delivery.deliveryId}}/{{around.roundid}}/{{key3}}" >Add to round</a></div>';
        var style = {"color":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1.0, "fillOpacity": 1.0 };
        var  kml = "{{arg.kml}}";
        var path = "{{mappath}}roadgroups/"+kml;
        if(kml)
        {
           makeKMLLayer(mymap,path,style,true,htmltext);
        }
        {% endfor %}
        {% endfor %}
        {% endfor %}


      setMarkers(mymap,"{{geodata}}");
      setBounds2(mymap,"{{geodata}}");
    </script>
</div>
{% endblock %}
