{# views/rgsubgroup/showone.html.twig #}

{% extends 'master.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/subward.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
   {{ parent() }}
   <script src="{{asset('js/maps.js')}}"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
   <script src="{{asset('js/L.KML.js')}}"></script>
   <script>
     var popup = L.popup();
     function onMapClick(e)
     {
       popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(mymap);
        lat = e.latlng.lat;
        lng = e.latlng.lng;
        document.getElementById("street_form_Latitude").value=lat;
        document.getElementById("street_form_Longitude").value=lng;
      }
    </script>
{% endblock %}

{% block middle %}
<div class="heading  row">
  <div class="label">RG-Subgroup: </div>
  <div class="value">{{subward.rgsubgroupid}}:</div>
  <div class="value">{{ward.name}}</div>
  <div class="value">{{subward.name}}</div>
  <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
</div>
{% if message %}
   <H1> {{message}} </H1>
{% else %}
   <div class="subheading row">
      <div class="rgid" >Road group Id</div>
      <div class="name" >Name</div>
      <div class="bnum" >Households</div>
      <div class="bnum" >Calculated</div>
      <div class="bnum" >Distance</div>
      <div class="button" ></div>
      <div class="button" ></div>
   </div>
  {% set tracks = [] %}
  <div class="list">
  {% for aroadgroup in roadgroups %}
  {% set tracks = tracks|merge([aroadgroup.roadgroupid]) %}
     <div class="roadgroup row "  >
       <div class="roadgroupid" id="{{aroadgroup.roadgroupid}}" >{{aroadgroup.roadgroupid}}</div>
       <div class="name" >{{aroadgroup.name}}</div>
       <div class="bnum" >{{aroadgroup.households}}</div>
        <div class="bnum" >{{aroadgroup.calculated}}</div>
       <div class="bnum" >{{aroadgroup.distance | number_format(2)}}</div>
       <div class="button" ><a class="button" href = "/roadgroup/showone/{{aroadgroup.roadgroupid}}" >VIEW</a>   </div>
       <div class="button" ><a class="button" href = "/roadgroup/edit/{{aroadgroup.roadgroupid}}" >EDIT</a>   </div>
     </div>
  {% endfor %}
  </div>
{% endif %}

<div><a class="button" href = "/roadgroup/new/{{ward.rggroupid}}/{{subward.rgsubgroupid}}" >ADD NEW ROADGROUP</a></div>
  {% if streets|length >0 %}
<div class="subheading  row">
  <div class="label red"> Spare Streets</div>
</div>
<div class="streetlist">
  {% for street in streets %}
  <div class="street row indent">
     <div class="name" >{{street.name}}
        {% if street.part %}
        /{{street.part}}
        {% endif %}
        </div>
    <div class="PD" >{{street.PD}}</div>
    <a class="button" href = "/street/edit/{{street.streetid}}" >VIEW</a>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="subheading  row">
  <div class="label"> No un-allocated streets found</div>
</div>
{% endif %}
<div class="map" >
  <div id="swmapid" ></div>
</div>
  {% set jslocation = subward.getjson() %}
  <script  type="text/javascript" >
    var mymap = mySwMap("{{jslocation}}");
    var i=0;
    {% for aroadgroup in roadgroups %}
      var kml = "{{aroadgroup.kml}}";
      if(kml)
      {
        var path = "{{mappath}}roadgroups/"+kml;
         var h2s = document.getElementById("{{aroadgroup.roadgroupid}}");
         if(h2s)
            h2s.style.backgroundColor = getColor(i);
         var style = {"color":  getColor(i) , "weight": 14 ,  "clickable": true ,"opacity": 0.7, "fillOpacity": 0.1 };
         makeKMLLayer(mymap,path,style,true,"{{aroadgroup.name}}")
         i=i+1;
         if(i>11) i=0;
      }
      //mymap.fitBounds(fgroup.getBounds());
      mymap.on('click', onMapClick);
  {% endfor %}


   </script>

{% endblock %}
