{# views/rggroup/edit.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/ward.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
<div id="middle" >
<div id="wardedit"  >
<div>
 <div class="heading  row" >
 <div class="label">Edit RG-Group:</div>
 <div class="title" > {{ward.name}}</div>
 <div class="button  right"> <a class="button" href ="/rggroup/showall" >{{'back'}} </a> </div>
</div>
<div class="formmap">
<div  class="form" >
    {{ form_start(form) }}
    {{ form_row(form.Rggroupid) }}
    {{ form_row(form.Name) }}
    {{ form_row(form.KML) }}
    {{ form_row(form.Households) }}
    {{ form_row(form.Electors) }}
    {{ form_row(form.Latitude) }}
    {{ form_row(form.Longitude) }}
    <button type="submit">{{'Register!'}}</button>
    {{ form_end(form) }}
</div>
<div class="button  right"> <a class="deletebutton" href ="/rggroup/delete/{{ward.Rggroupid}}" >{{'delete'}} </a> </div>
</div>
</div>
</div>
{% endblock %}
