{# views/rggroup/showone.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('/css/ward.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
  {{ parent() }}
  <script src="{{asset('js/maps.js')}}"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="{{asset('js/L.KML.js')}}"></script>
  <script>
    var popup = L.popup();
    function onMapClick(e)
    {
    popup
    .setLatLng(e.latlng)
    .setContent("You clicked the map at " + e.latlng.toString())
    .openOn(mymap);
    lat = e.latlng.lat;
    lng = e.latlng.lng;
    document.getElementById("street_form_Latitude").value=lat;
     document.getElementById("street_form_Longitude").value=lng;
    }
  </script>
{% endblock %}


{% block middle %}
  <div class="heading  row">
        <div class="label"> RG-Groups:</div>
        <div class="value"> {{ward.rggroupid}}:</div>
        <div class="value"> {{ward.name}}</div>
        <div class="value"> {{ward.households}}</div>
        <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
      </div>

{% if message %}
   <H1> {{message}} </H1>
{% else %}

      <div class="wards">
      {% for subward in subwards %}
         <div class="ward row" >
           <div class="rgid" id="{{subward.rgsubgroupid}}">{{subward.rgsubgroupid}}</div>
           <div class="name" >{{subward.name}}</div>
           <div class="num" >{{subward.total}}</div>
           <a class="button" href = "/rgsubgroup/show/{{subward.rgsubgroupid}}" >VIEW</a>
           <a class="button" href = "/rgsubgroup/edit/{{subward.rgsubgroupid}}" >EDIT</a>
        </div>
      {% endfor %}
      </div>
      <a class="button" href = "/rgsubgroup/new/{{ward.rggroupid}}" >MAKE RG-Subgroup</a>

{% if roadgroups|length >0 %}
<div class="subheading  row">
  <div class="label red"> Roadgroups unallocated</div>
</div>
<div class="list">
  {% for roadgroup in roadgroups %}
  <div class=" row  indent">
    <div class="rgid" >{{roadgroup.roadgroupid}}</div>
    <div class="name" >{{roadgroup.name}}</div>
    <a class="button" href = "/roadgroup/edit/{{roadgroup.roadgroupid}}" >VIEW</a>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="subheading  row">
  <div class="label"> No un-allocated roadgroups found</div>
</div>
{% endif %}

<div class="map" >
  <div id="wmapid" ></div>
</div>
{% set jslocation = ward.getjson() %}

<script >

var mymap = myWMap("{{jslocation}}");

var bounds = null;
var wardlayer = null;
var fgroup =  new L.featureGroup();
      var kml = "{{ward.kml}}";
      var path = "{{mappath}}"+kml;
      if(kml)
      {
          var style = {"color": "#0000FF","fillcolor": "#FF00FF", "weight": 5 ,  "clickable": true,"opacity": 0.2, "fillOpacity": 0.2 };
          makeKMLLayer(mymap,path,style,true,"{{ward.name}}")
      }


var i=0;
{% for key,asubgroup in sglist %}
 var countsgs = 0;
{% for kml in asubgroup %}
    var style = {"color":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1.0, "fillOpacity": 1.0 };
      var  kml = "{{kml}}";
      var path = "{{mappath}}roadgroups/"+kml;
      if(kml)
      {
        countsgs = countsgs+1;
        makeKMLLayer(mymap,path,style,true,kml);
      }
  {% endfor %}

  if(countsgs > 0)
  {
    var h2s = document.getElementById("{{key}}");
    h2s.style.backgroundColor = getColor(i);
    i=i+1;
    if(i>11)i=0;
  }
 {% endfor %}


//mymap.fitBounds(wardlayer.getBounds());

mymap.on('click', onMapClick);
</script>
{% endif %}
{% endblock %}
