{% extends 'master.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
    <link href="{{ asset('/css/ward.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="{{asset('js/L.KML.js')}}"></script>
<script>
var popup = L.popup();
function onMapClick(e)
{
  popup
  .setLatLng(e.latlng)
  .setContent("You clicked the map at " + e.latlng.toString())
  .openOn(mymap);
  lat = e.latlng.lat;
  lng = e.latlng.lng;
  document.getElementById("street_form_Latitude").value=lat;
  document.getElementById("street_form_Longitude").value=lng;
}
</script>
{% endblock %}

{% block middle %}
<div class="heading  row">
  <div class="label"> All RG-Groups</div>
  <div class="button  right"> <a class="button" href = "/" >{{'back'}} </a> </div>
</div>


{% if message %}
<H1> No wards found </H1>

{% else %}
  <div class="subheading row" >
                       <div class="rgid">RG-GroupId</div>
                       <div class="name">Name</div>
                         <div class="num">House-holds</div>
                         <div class="num">Totaled House-holds</div>
                         <div class="num">No. Road-groups</div>
                         <div class="num">No. Maps</div>
                     </div>
<div class="list">
    <div id="wards" >
       {% for ward in wards %}
                    <div class="row" >
                       <div class="rgid" >{{ward.rggroupid}}</div>
                        <div class="name" >{{ward.name}}</div>
                         <div class="num" >{{ward.households}}</div>
                         <div class="num" >({{ward.total}})</div>
                         <div class="num"> {{ward.rgcount}}</div>
                         <div class="num"> {{ward.rgfound}}</div>
                        <a class="button" href = "/rggroup/show/{{ward.rggroupid}}" >VIEW</a>
                        <a class="button" href = "/rggroup/edit/{{ward.rggroupid}}" >EDIT</a>
                     </div>
       {% endfor %}
    </div>
</div>
 <a class="button" href = "/rggroup/new" >ADD NEW RG-Group</a>

   {% if roadgroups|length >0 %}
<div class="subheading  row">
  <div class="label">Spare Roadgroups</div>
</div>
  <div class="list">
       {% for roadgroup in roadgroups %}
       <div class="row">
                 <div class="rgid" >{{roadgroup.roadgroupid}}</div>
                 <div class="name" >{{roadgroup.name}}</div>
                 <a class="button" href = "/roadgroup/edit/{{roadgroup.roadgroupid}}" >VIEW</a>
        </div>
       {% endfor %}
   </div>
   {% else %}
   <div class="subheading row">
  <div class="label"> No un-allocated roadgroups found</div>
</div>
   {% endif %}
{% endif %}
</div>
<div class="map" >
  <div id="wmapid" ></div>
</div>

<script >
var jslocation = '{ "name":"LCC","longitude":"-1.8304","latitude":"52.6854" }';

var mymap = myWMap(jslocation);

var path = "{{mappath}}{{topmap}}";
{
   var style = {"color":  "#0000FF" , "weight": 5 ,  "clickable": true ,"opacity": 0.2, "fillOpacity": 0.2 };
   makeKMLLayer(mymap, path,style,true,"All RG-Groups");
}

mymap.on('click', onMapClick);
</script>
{% endblock %}
