{# views/street/showall.html.twig #}

{% extends 'master.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}
<div class="heading row">
<div class="label">Edit Multiple Street Names</div>
<div class="button  right"> <a class="button" href = "{{back}}" >Back</a> </div>

</div>
<div id="streetedit">
{% if message %}
<H1> No streets found </H1>

{% else %}
   <div class="street header list  row">
     <div class="checkbox" ></div>
     <div class="name" >Name/part</div>

                       <div class="pd" >PD</div>
                      <div  class="wardid" >Ward ID</div>
                      <div  class="rgid" >Road group ID</div>
                      <div  class="num" >House-holds</div>
                       <div  class="num" >Electors</div>
                      <div  class="button" ></div>
                     <div  class="text" >Note</div>
   </div>
   <form action="php_checkbox.php" method="post">

    <div class="list" >
       {% for street in streets %}
                    <div class="street row" >
                  <div class="checkbox" > <input type="checkbox" id="street.streetid" name="selectstreets" value="street.streetid"></div>
                      <div class="name" >{{street.name}}/{{street.part}}</div>
                       <div class="pd" >{{street.pd}}</div>
                      <div  class="wardid" >{{street.wardid}}</div>
                      <div  class="rgid" >{{street.roadgroupid}}</div>
                      <div  class="num" >{{street.households}}</div>
                       <div  class="num" >{{street.electors}}</div>
                           <div class="button"> <a class="button" href = "/street/edit/{{street.streetid}}" >Edit </a> </div>
                     <div  class="text" > {{street.note}}</div>
                     </div>
       {% endfor %}
    </div>
     <div class="list header  row">
       <div>For selected </div>
        <div class="button small"> <input type="submit" name="Merge" Value="Merge"/> </div>
   </div>
    </form>
{% endif %}
</div>
{% endblock %}
