{# views/street/edit.html.twig #}

{% extends 'master.html.twig' %}


{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
 {{ parent() }}
<script>
   var popup = L.popup();
    function onMapClick(e) {
       popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(mymap);

        lat = e.latlng.lat;
        lng = e.latlng.lng;
      document.getElementById("street_form_Latitude").value=lat;
      document.getElementById("street_form_Longitude").value=lng;
     }
   </script>
{% endblock %}


{% block middle %}
<div id="streetedit"  >
  <div class="heading  row" >
    <div class="label">Edit Street:</div>
    <div class="value" > {{street.name}}</div>

    {% if streetcount is defined and streetcount > 1 %}
      <div class="countwarning"> Multiple appearances of this street</div>
      <div class="button> "><a class="button small" href = "/street/editgroup/{{street.name}}" >Edit Group </a> </div>
      <div class="button> "><a class="button small" href = " https://lichfielddc.maps.arcgis.com/apps/webappviewer/index.html?id=f15c49e001cd48239abf6571b5d3f68d" target="_pdmap" >View PD Map</a> </div>
    {% endif %}
     <div class="button  right"> <a class="button" href = "{{back}}" >Back</a> </div>
  </div>
  <div class="formmap">
    <div  class="form" >
      {{ form_start(form) }}
      {{ form_row(form.name) }}
      {{ form_row(form.Part) }}
      {{ form_row(form.Qualifier) }}
      {{ form_row(form.PD) }}
      {{ form_row(form.Households) }}
      {{ form_row(form.Electors) }}
      {{ form_row(form.Latitude) }}
      {{ form_row(form.Longitude) }}
      <button type="submit">{{'Register!'}}</button>
    </div>
    <div class="map" >
      <div id="stmapid"></div>
    </div>
  </div>
    <div class="formmap">
       {{ form_row(form.Note) }}
     {{ form_end(form) }}
         </div>
</div>

<div class ="row">
 <div class="button"> <a class="small button  red" href ="/street/replicate/{{street.streetid}}" >{{'SPLIT ROAD'}} </a> </div>
     <div class="deletebutton right "> <a class="button  red" href ="/street/delete/{{street.streetid}}" >{{'DELETE ROAD'}} </a> </div>
</div>
         {% set jslocation = street.getjson() %}
      <script  type="text/javascript" >
       var mymap = myStMap("{{jslocation}}");
         mymap.on('click', onMapClick);
      </script>
</div>
</div>
</div>
{% endblock %}
