{# views/street/edit.html.twig #}

{% extends 'rgmaster.html.twig' %}


{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
   <style>


   /* The popup form - hidden by default */
   .form-popup {
     display: none;
     position: fixed;
     bottom: 20;
     left: 15px;
     border: 3px solid #f1f1f1;
     z-index: 9;
   }

   /* Add styles to the form container */
   .form-container {
     max-width: 100px;
     padding: 5px;
     background-color: white;
   }

   /* Full-width input fields */
   .form-container input[type=text], .form-container input[type=password] {
     width: 100%;
     padding: 5px;
     margin: 5px 0 10px 0;
     border: none;
     background: #f1f1f1;
   }

   /* When the inputs get focus, do something */
   .form-container input[type=text]:focus, .form-container input[type=password]:focus {
     background-color: #ddd;
     outline: none;
   }

   /* Set a style for the submit/login button */
   .form-container .btn {
     background-color: #04AA6D;
     color: white;
     padding: 16px 20px;
     border: none;
     cursor: pointer;
     width: 100%;
     margin-bottom:10px;
     opacity: 0.8;
   }

   /* Add a red background color to the cancel button */
   .form-container .cancel {
     background-color: red;
   }

   /* Add some hover effects to buttons */
   .form-container .btn:hover, .open-button:hover {
     opacity: 1;
   }
   </style>
{% endblock %}
{% block js %}
 {{ parent() }}
<script>
var mymap = "";
var selectedbranch =0;
var popup = L.popup();
var polyline=null;
var markers=null;
var estyle = {
  color: "#0000FF",
  weight: 5,
  opacity: 1
};
function onMapClick(e)
{
  bn = selectedbranch;
  if(bn>0)
  {
  lat = e.latlng.lat;
  lng = e.latlng.lng;
  document.getElementById("street_form_Latitude").value=lat;
  document.getElementById("street_form_Longitude").value=lng;
  var apath =  document.getElementById("street_form_Path").value ;
  var points = JSON.parse(apath);
  var selpath = points[bn-1];
  let newpoint = [lat,lng];
  var l= selpath.steps.length;
  if(l<1)
  {
    selpath.steps.push(newpoint);
  }
  else if( selpath.steps[l-1].length<2)
  {
    selpath.steps[l-1]= newpoint;
  }
  else
    selpath.steps.push(newpoint);
  var newpath = JSON.stringify(points);
  document.getElementById("street_form_Path").value =newpath;
  mymap.removeLayer(polyline);
  if(markers)
    mymap.removeLayer(markers["end"]);
  polyline =drawPath(mymap,selpath,estyle);
  markers= setEndMarkers(mymap,selpath);
  //  document.getElementById("pathsteps").innerHTML =countpath();
  }
}

function undopath()
{
  bn = selectedbranch;
  var apath =  document.getElementById("street_form_Path").value ;
  var points = JSON.parse(apath);
  var selpath = points[bn-1];
  if(selpath)
    selpath.steps.pop();
  var newpath = JSON.stringify(points);
  document.getElementById("street_form_Path").value  = newpath;
  mymap.removeLayer(polyline);
  if(markers)
  {
  mymap.removeLayer(markers["end"]);
  }
  polyline =drawPath(mymap,selpath,estyle);
  markers= setEndMarkers(mymap,selpath);
  //document.getElementById("pathsteps").innerHTML = countpath();
}


function clearpath()
{
  bn = selectedbranch;
  var apath =  document.getElementById("street_form_Path").value ;
  var points = JSON.parse(apath);
  points[bn-1] = null;

  var newpath = JSON.stringify(points);
  document.getElementById("street_form_Path").value  = newpath;
  if(polyline) mymap.removeLayer(polyline);
  if(markers)

  {
    mymap.removeLayer(markers["end"]);
    mymap.removeLayer(markers["start"]);
  }

  //document.getElementById("pathsteps").innerHTML = countpath();
}

function countpath()
{
  bn = selectedbranch;
  var apath =  document.getElementById("street_form_Path").value ;
  var points = JSON.parse(apath);
  var selpath = points[bn-1];
  return selpath.steps.length;
}

function selectbranch(bn)
{
  if(polyline) mymap.removeLayer(polyline);
  if(markers)
  {
    mymap.removeLayer(markers["end"]);
    mymap.removeLayer(markers["start"]);
  }
  if  (document.getElementById("branch"+selectedbranch))
  {
    document.getElementById("branch"+selectedbranch).style.color="green";
    document.getElementById("branch"+selectedbranch).getElementsByTagName("button")[0].style.visibility="visible";
    document.getElementById("buttonlist").getElementsByClassName("button isactive")[0].style.visibility="hidden";
    document.getElementById("buttonlist").getElementsByClassName("button isactive")[1].style.visibility="hidden";
    var el = document.getElementById("stmapid");
    el.style.cursor="move";
  }
  selectedbranch = bn;
  var apath =  document.getElementById("street_form_Path").value ;
  var points = JSON.parse(apath);
  var selpath = points[bn-1];
  polyline =  drawPath(mymap,selpath,estyle);
  markers =   setEndMarkers(mymap,selpath);
  document.getElementById("branch"+bn).style.color="red";
  document.getElementById("branch"+bn).getElementsByTagName("button")[0].style.visibility="hidden";
  document.getElementById("buttonlist").getElementsByClassName("button isactive")[0].style.visibility="visible";
  document.getElementById("buttonlist").getElementsByClassName("button isactive")[1].style.visibility="visible";
  document.getElementById("buttonlist").getElementsByClassName("button isactive")[2].style.visibility="visible";
  var el = document.getElementById("stmapid");
  el.style.cursor="crosshair";
}

function addbranch()
{
  var apath =  document.getElementById("street_form_Path").value ;
  var points = JSON.parse(apath);
  var newbranch =  JSON.parse('{"start":"1","end":"99","steps":[]}');
  points.push(newbranch);
  const nb = points.length ;
  var newpath = JSON.stringify(points);
  document.getElementById("street_form_Path").value  = newpath;
  polyline =  drawPath(mymap,newbranch,estyle);
  markers =   setEndMarkers(mymap,newbranch);

  var tag = document.createElement("div");
  tag.classList.add('steps');
  tag.classList.add('row');
  tag.classList.add('branches');
  tag.setAttribute("id", "branch"+nb);
  var tagl = document.createElement("div");
  tagl.classList.add('blabel');
  const newContent = document.createTextNode("Branch No: "+nb);
  tagl.appendChild(newContent);
  tag.appendChild(tagl);
  var tags = document.createElement("div");
  tags.classList.add('bstart');
  const newContents = document.createTextNode("Start: 1");
  tags.appendChild(newContents);
  tag.appendChild(tags);
  var tage = document.createElement("div");
  tage.classList.add('bend');
  const newContente = document.createTextNode("End: 99");
  tage.appendChild(newContente);
  tag.appendChild(tage);
  var tagst = document.createElement("div");
  tagst.classList.add('bsteps');
  const newContentst = document.createTextNode("Steps: 0");
  tagst.appendChild(newContentst);
  tag.appendChild(tagst);
  var tagb = document.createElement("div");
  tagb.classList.add('button');
  var bt = document.createElement("button");
  bt.classList.add('small');
  bt.classList.add('button');
  bt.classList.add('red');

  bt.onclick = function(){ selectbranch(nb);};
  const newContentbt = document.createTextNode("EDIT");
  bt.appendChild(newContentbt);
  tagb.appendChild(bt);
  tag.appendChild(tagb);
  var element = document.getElementById("branchlist");
  element.appendChild(tag);
  selectbranch(nb);
  var el = document.getElementById("stmapid");
  el.style.cursor="move";
}

function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("binput"+selectedbranch).innerHTML = document.getElementById("startvalue").value;
  document.getElementById("einput"+selectedbranch).innerHTML = document.getElementById("endvalue").value;
  var apath =  document.getElementById("street_form_Path").value ;
  var tracks = JSON.parse(apath);
  var track = tracks[selectedbranch-1];

  track.start=document.getElementById("startvalue").value;
  track.end=document.getElementById("endvalue").value;
  var newpath = JSON.stringify(tracks);
  document.getElementById("street_form_Path").value  = newpath;
  document.getElementById("myForm").style.display = "none";

}

   </script>
{% endblock %}


{% block middle %}
<div class="form-popup" id="myForm">
<xform action="/action_page.php" class="form-container">
  <h1>House Numbers</h1>
  <div>
     <label class="inline-label" for="startno"><b>Start</b></label>
     <input id="startvalue" type="text" placeholder="1" name="startno" value="123" />
  </div>
  <div>
  <label class="inline-label" for="endno"><b>End</b></label>
  <input id="endvalue"  type="text" placeholder="99" name="endno" value="321" />
  </div>
  <div>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </div>
</xform>
</div>
<div id="streetedit"  >
  <div class="heading  row" >
    <div class="label">Edit Street:</div>
    <div class="value" > {{street.name}}</div>

    {% if streetcount is defined and streetcount > 1 %}
      <div class="countwarning"> Multiple appearances of this street</div>
      <div class="button> "><a class="button small" href = "/street/editgroup/{{street.name}}" >Edit Group </a> </div>
      <div class="button> "><a class="button small" href = " https://lichfielddc.maps.arcgis.com/apps/webappviewer/index.html?id=f15c49e001cd48239abf6571b5d3f68d" target="_pdmap" >View PD Map</a> </div>
    {% endif %}
     <div class="button  right"> <a class="button" href = "{{back}}" >Back</a> </div>
     <div class="button"> <a class="button" href = "/roadgroup/showone/{{roadgroupid}}" >Roadgroup</a> </div>
  </div>
  <div class="formmap">
    <div  class="form" >
      {{ form_start(form) }}
      {{ form_row(form.name) }}
      {{ form_row(form.Part) }}
      {{ form_row(form.Qualifier) }}
      {{ form_row(form.PD) }}
      {{ form_row(form.Households) }}
      {{ form_row(form.Electors) }}
      {{ form_row(form.Latitude) }}
      {{ form_row(form.Longitude) }}
      <div>UPDATED:   {{form.Updated.vars.data|date }}</div>
      <button type="submit">{{'Register!'}}</button>
     {{ form_row(form.Path) }}
       <div  class="form row" >
        <div > {{ form_row(form.Note) }}</div>
     </div>
     {{ form_end(form) }}
     {% if tracks is defined  %}
      <div class="branches" id="branchlist">
   {% for track in tracks %}
      <div class="steps row branches" id="branch{{loop.index}}">
         <div class="blabel">Branch No: {{ loop.index }}</div>
         <div class="bstart">Start:</div><div id="binput{{loop.index}}" class="input" > {{track.start}}</div>
         <div class="bend">End:</div><div id="einput{{loop.index}}" class="input">{{track.end}}</div>
         <div class="bsteps">Steps: {{track.steps|length}}</div>
         <div class="button"><button class="small button red" onclick="selectbranch({{loop.index}});" >EDIT</button></div>
      </div>
        {% endfor %}
        </div>
        {% endif %}
    <div class ="row"  id="buttonlist">
       <div class="button"> <button class="small button red" onclick="addbranch();" >ADD</button> </div>
       <div class="button isactive"> <button class="small button red" onclick="undopath();" >UNDO</button></div>
      <div class="button isactive">  <button class="small button red" onclick="clearpath();" >CLEAR</button></div>
      <div class="button isactive"> <button class="small button red" onclick="openForm()">House Nos</button></div>

    </div>
  </div>

    <div class="map" >
      <div id="stmapid"></div>
    </div>
  </div>



</div>

<div class ="row">
      <div class="button"> <a class="small button red" href ="/street/replicate/{{street.streetid}}" >{{'SPLIT ROAD'}} </a> </div>
 </div>
         {% set jslocation = street.getjson() %}
      <script  type="text/javascript" >
         var mymap = myStMap("{{jslocation}}");
         mymap.on('click', onMapClick);
         drawPath(mymap,"{{street.getPath()}}");
      </script>
</div>
</div>
</div>
{% endblock %}
