{# views/street/showall.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}
<div class="street">
{% if message %}
<H1> {{message}} </H1>

{% else %}
    <div class="heading row">
    <div class="label"> Streets </div>
     <div class="message"> Select a ward  to create a new Street </div>
    <div class="button  right"> <a class="button" href = "/" >{{'back'}} </a> </div>
    </div>
       <form action="/street/filters" method="post">
    <div class="subheading row">
      <label for="duplicates">Duplicated Streets</label>
      <input type="radio" id="duplicates" name="filter" value="duplicates">
      <input type="submit" value="Submit">
    </div>
        </form
 <div class="subheading row">
     <div class="subheading row">
     <div class="name" >Name/part</div>
     <div class="num" >Count</div>
   </div>
    <div class="list  pagescroll" >
       {% for street in streets %}
       <div class="row" >
         <div class="name" >{{street.Name}}</div>
         <div class="pd" >{{street.Count}}</div>
         <div class="button"> <a class="button" href = "/street/editgroup/{{street.Name}}" >Edit </a> </div>
      </div>
       {% endfor %}
    </div>
{% endif %}
</div>
{% endblock %}
