{# views/street/showproblems.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />

{% endblock %}

{% block middle %}
<div class="heading row">
<div class="label">Problem  Streets </div>
<div class="button  right"> <a class="button" href = "/street/showall" >Back</a> </div>

</div>


{% if message %}
<H1> No streets found </H1>

{% else %}
<div class="heading row">
<div class="button  right"> <a class="button" href = "/street/updategeodata" >Update Geodata</a> </div>
</div>
   <div class="subheading row">
     <div class="checkbox" ></div>
     <div class="name" >Name/part</div>
     <div  class="button" >PD ID</div>
     <div  class="button" >Road group ID</div>
     <div  class="num" >House-holds</div>
     <div  class="num" >Electors</div>
     <div  class="button" ></div>
   </div>
    <div id="streets" >
       {% for street in streets %}
                    <div class="street row" >
                      <div class="name" >{{street.name}}</div>
                       <div class="pd" >{{street.pdid}}</div>
                       {% if street.roadgroupid  is defined %}
                      <a class="button" href = "/roadgroup/showone/{{street.roadgroupid}}" >{{street.roadgroupid}}</a>
                      {% endif %}
                      <div  class="num" >{{street.households}}</div>
                       <div  class="num" >{{street.electors}}</div>
                        <a class="button" href = "/street/editgroup/{{street.seq}}" >EDIT</a>
                     </div>
       {% endfor %}
    </div>

       </div>

</div>
{% endif %}
</div>
{% endblock %}
