{# views/street/viewgroup.html.twig #}

{% extends 'master.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}
<div class="heading row">
<div class="label">View A Street </div>
<div class="button  right"> <a class="button" href = "/street/showall" >Back</a> </div>

</div>
<div id="streetedit">

{% if message %}
<H1> No streets found </H1>

{% else %}
   <div class="subheading row">
     <div class="checkbox" ></div>
     <div class="name" >Name/part</div>
     <div class="pd" >PD</div>
     <div  class="rgid" >Road group ID</div>
     <div  class="num" >House-holds</div>
     <div  class="num" >Electors</div>
     <div  class="button" ></div>
     <div  class="text" >Note</div>
   </div>
   <form action="/street/groupops" method="post">

    <div class="list" >
       {% for street in streets %}
       <div class="street row" >
          <div class="checkbox" > <input type="checkbox" id="{{street.seq}}" name="selectstreets[]" value="{{street.seq}}"></div>
          <div class="name">{{street.name}}/{{street.part}}</div>
            <div class="rgid"><a class="routebutton" href = "/pollingdistrict/show/{{street.pd}}">{{street.pd}}</a></div>
          <div class="rgid">
          <a class="routebutton" href = "/roadgroup/showone/{{street.roadgroupid}}">{{street.roadgroupid}}</a>
          </div>
          <div class="num">{{street.households}}</div>
          <div class="num">{{street.electors}}</div>
          <div class="button"><a class="button" href = "/street/edit/{{street.name}}/{{street.part}}">Edit</a></div>
          <div class="text">{{street.note}}</div>
       </div>
       {% endfor %}
    </div>
    <div class="subheading  row">
       <div>For selected </div>
       <div class="button small"> <input type="submit" name="Merge" Value="Merge"/> </div>
       <div class="button small"> <input type="submit" name="Delete" Value="Delete"/> </div>
    </div>
   </form>
{% endif %}
</div>
{% endblock %}
