{# views/delivery/.html.twig #}

{% extends 'dvymaster.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/delivery.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}
{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src="{{asset('js/L.KML.js')}}"></script>

{% endblock %}


{% block middle %}
<div class="delivery">


  {% if message %}
  <div class="heading row">
    <div class="label">Delivery </div>
  </div>
  <H1> No deliverys found </H1>

  {% else %}

<div class="heading row">
    <div class="label"> Delivery </div>
    <div class="value"> {{delivery.deliveryId}}:</div>
    <div class="value"> {{delivery.Name }}</div>
 <div class="value">({{delivery.Completed}}/{{delivery.Households}})</div>
    <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
  </div>
  <div class="subheading row">
  <div class="rgid" >ID</div>
    <div class="name" >Name</div>
    <div  class="num" >House-holds</div>
    <div  class="button" ></div>
  </div>
  <div class="list" >
    {% for key ,around in rounds %}
          <div class="group row">
             <div class="rgid" >{{key}}: </div>
              <div class="name" >{{ around.Name}}</div>
             <div class="num" >({{ around.Deliveries}}/{{ around.Households}})</div>
             <div class="button" ><a class="button" href = "/delivery/manage/{{delivery.deliveryId}}/{{key}}" >View</a></div>
          </div>

    {% endfor %}
  </div>
{% endif %}
</div>


{% endblock %}
