{# views/delivery/showone.html.twig #}

{% extends 'dvymaster.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/delivery.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}
{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src="{{asset('js/L.KML.js')}}"></script>

{% endblock %}


{% block middle %}
<div class="delivery">


  {% if message %}
  <div class="heading row">
    <div class="label">Delivery </div>
  </div>
  <H1> No deliverys found </H1>

  {% else %}

<div class="heading row">
    <div class="label">Delivery</div>
    <div class="value">{{delivery.deliveryId}}:</div>
    <div class="value">{{delivery.Name }}</div>
    <div class="value">({{delivery.Households }})</div>

    <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
  </div>
  <div class="subheading row">
  <div class="rgid" >ID</div>
    <div class="name" >Name</div>
    <div  class="num" >House-holds</div>
    <div  class="button" ></div>
  </div>
  <div class="list" >
    {% for key ,asubgroup in rggroups %}
          <div class="group row">
             <div class="rgid" >{{key}}: </div>
              <div class="name" >{{ asubgroup.group.Name}}</div>
             <div class="num" >{{ asubgroup.group.Households}}</div>
             <div class="button" ><a class="button" href = "/delivery/viewdetail/{{delivery.deliveryId}}/{{key}}" >View</a></div>
          </div>
      {% if rgid is defined %}
      {% if key in rgid %}
      {% for key2 ,arggroup in asubgroup["children"] %}
        <div class="subgroup row">
            <div class="rgid" >{{key2}}:</div>
            <div class="button" ><a class="button" href = "/delivery/viewdetail/{{delivery.deliveryId}}/{{key2}}" >View</a></div>

        </div>
        {% if key2 in rgid %}
        {% for key3 ,arg in arggroup["children"] %}
            <div class=" roadgroup row">
              <div class="rgid" >{{key3}}: </div><div class="num" >{{arg.households }}</div>
              <div class="button" ><a class="button" href = "/delivery/editround/{{delivery.deliveryId}}/{{key2}}" >EditRound</a></div>
            </div>
        {% endfor %}
        {% endif %}
      {% endfor %}
      {% endif %}
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
</div>
<div class="map" >
  <div id="wmapid" ></div>
</div>
{% set jslocation = delivery.getjson() %}

<script >

var mymap = myWMap("{{jslocation}}");

var bounds = null;
var wardlayer = null;
var fgroup =  new L.featureGroup();


{% for key,arg in allrgs %}
var i=0;
 var htmltext = "<html> <h1>{{key}}</h1><div> <a class=\"button\" href = \"/delivery/addround/{{delivery.deliveryId}}/{{key}}\" >ADD</a></div>";
{% if key in rgs|keys  %}
 var htmltext = "<html> <h1>{{key}}</h1><div> <a class=\"button\" href = \"/delivery/removeround/{{delivery.deliveryId}}/{{key}}\" >REMOVE</a></div>";
i=1;
{% endif %}
{% if arg.kml  %}
    var style = {"color":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1.0, "fillOpacity": 1.0 };
      var  kml = "{{arg.kml}}";
      var path = "{{mappath}}roadgroups/"+kml;

      if(kml)
      {
        makeKMLLayer(mymap,path,style,true,htmltext);
      }
  {% endif %}
 {% endfor %}

var kml = "{{delivery.KML}}";
      var path = "{{mappath}}outlines/"+kml;
      if(kml)
      {
          var style = {"color": "#0000FF","fillcolor": "#FF00FF", "weight": 5 ,  "clickable": true,"opacity": 0.9, "fillOpacity": 0.0 };
          makeOutlineKml(mymap,path,style,false,"{{delivery.name}}")
      }
//mymap.fitBounds(wardlayer.getBounds());


</script>

{% endblock %}
