{# views/district/hearmap.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('/css/district.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
  {{ parent() }}
  <script src="{{asset('js/maps.js')}}"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
  <script src="{{asset('js/L.KML.js')}}"></script>
  <script>
    var popup = L.popup();
    function onMapClick(e)
    {
    popup
    .setLatLng(e.latlng)
    .setContent("You clicked the map at " + e.latlng.toString())
    .openOn(mymap);
    lat = e.latlng.lat;
    lng = e.latlng.lng;
    document.getElementById("street_form_Latitude").value=lat;
     document.getElementById("street_form_Longitude").value=lng;
    }
  </script>
{% endblock %}


{% block middle %}


{% if message %}
   <H1> {{message}} </H1>
{% else %}
      <div class="heading  row">
        <div class="label"> {{district.name}}: HeatMap</div>
        <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
      </div>

      <div class="map" >
      <div id="goodmapid" ></div>
      </div>

      {% set geodata = district.getGeodata_json() %}
      {% dump(geodata) %}
<script >
var mymap = myGoodMap("{{geodata}}");
var kml = "{{district.KML}}";
var path = "{{mappath}}outlines/"+kml;
if(kml)
{
  var style = {"color": "#0000FF","fillcolor": "#FF00FF", "weight": 4 ,  "nonclickable": true,"opacity": 0.9, "fillOpacity": 0.0 };
  makeKMLLayer(mymap,path,style,true,"");
}
var i=0;
{% for seat in seats %}
kml = "{{seat.kml}}"
var path = "{{mappath}}outlines/"+kml;
var style = {"color": getColor(i),"fillcolor": getColor(i), "weight": 2,  "nonclickable": true,"opacity": 1.0, "fillOpacity": 0.2 };
var name = "{{seat.name}}";
makeKMLLayer(mymap,path,style,true,name);
i=i+1;
{% endfor %}
{% for rg in rglist %}
var mc = "{{rg['color']}}";
var style = {"color":  mc , "weight": 4 ,  "clickable": true ,"opacity": 1.0, "fillOpacity": 1.0 };
var  kml = "{{rg['kml']}}";
var name = "{{rg['rgid']}}-{{rg['priority']}}";
var path = "{{mappath}}roadgroups/"+kml;
if(kml)
{
  makeKMLLayer(mymap,path,style,true,name);
}
{% endfor %}
setBoundsGeodata(mymap, "{{geodata}}");
mymap.on('click', onMapClick);
</script>
{% endif %}
{% endblock %}
