{# views/district/showone.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/district.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>

{% endblock %}

{% block js %}
   {{ parent() }}
   <script src="{{asset('js/maps.js')}}"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
   <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
   <script src="{{asset('js/L.KML.js')}}"></script>

{% endblock %}

{% block middle %}
<div id="seat">
<div class="heading  row">
<div class="label">{{district.level}} </div>
<div class="value">{{district.districtid}}</div>
<div class="value">{{district.name}}</div>
<div class="button  right"> <a class="button" href = "/district/update/{{district.districtid}}" >Update</a> </div>
<div class="button "> <a class="button" href = "{{back}}" >Back</a> </div>
</div>


{% if message %}
<H1> No Seats found </H1>
{% else %}
<div class="subheading row">
      <div class="rgid" >SeatId</div>
      <div class="name" >Name</div>
      <div class="bnum" >Households</div>
       <div class="bnum" >Seats</div>
      <div  class="button" ></div>
      <div  class="button" ></div>
</div>

<div class="list">
{% set seatlist = [] %}
{% for aseat in seats %}
   {% set seatlist = seatlist|merge([aseat.seatid]) %}
     {% set slevel = aseat.level  %}
   <div class="seat row "  >
      <div class="seatid  id" id="{{aseat.seatid}}" >{{aseat.seatid}}</div>
         <div class="name" >{{aseat.name}}</div>
         <div class="bnum" >{{aseat.households}}</div>
          <div class="bnum" >{{aseat.seats}}</div>
         {% if ( slevel == "district council")  %}
             <div class="button wide" ><a class="button" href = "/seat/showwards/{{imageroot}}/{{aseat.seatid}}" >VIEW Parishes</a>   </div>
         {% elseif slevel == "warded parish" %}
           <div class="button wide" ><a class="button" href = "/district/show/{{aseat.seatid}}">VIEW Wards</a>   </div>
  {% elseif slevel == "parish" %}
           <div class="button wide" ><a class="button" href = "/district/show/{{aseat.seatid}}" >VIEW Wards</a>   </div>

         {% elseif slevel == "county council"  %}
               <div class="button wide" ><a class="button" href = "/seat/showwards/{{imageroot}}/{{aseat.seatid}}" >VIEW Wards</a>   </div>
           {% elseif slevel == "parliament"  %}
                 <div class="button wide" ><a class="button" href = "/seat/showwards/{{aseat.districtid}}/{{aseat.seatid}}" >VIEW Wards</a>   </div>
             {% else  %}
<div class="divwide" > </div>
             {% endif %}

      <div class="button wide" ><a class="button" href = "/seat/showrgs/{{district.districtid}}/{{aseat.seatid}}" >VIEW RoadGroups</a>   </div>
      <div class="button wide" ><a class="button" href = "/seat/showpds/{{district.districtid}}/{{aseat.seatid}}" >VIEW Polling Districts</a>   </div>
      <div class="button" ><a class="button" href = "/seat/edit/{{district.districtid}}/{{aseat.seatid}}" >EDIT</a>   </div>
   </div>
{% endfor %}
</div>
   <div class="button" ><a class="button" href = "/seat/new/{{district.districtid}}" >Add Seat</a>   </div>
{% endif %}


<div class="map" >
<div id="goodmapid" ></div>
</div>

{% set geodata = district.getGeodata_json() %}
{% dump(geodata) %}

<script  type="text/javascript" >

   var mymap = myGoodMap("{{geodata}}");
   var fparent = new L.FeatureGroup();
      if("{{district.kml}}")
      {
         var aspath = "{{mappath}}{{district.districtid}}/{{district.kml}}";
           makeKMLLayer(fparent,aspath,outlineStyle,true,"{{district.name}}");
      }
   {# set seatl = seatlist|json_encode|raw #};
   {# var seats = {{seatlist|json_encode|raw}} #};
   var aspath = "{{mappath}}{{district.kml}}";

   var i=0;
   var did = "{{district.districtid}}";
   var fgroup =  new L.featureGroup();
   {% for aseat in seats %}
   {
      var path = "{{mappath}}{{imageroot}}/{{aseat.kml}}";
      if(path)
      {

      if(doesFileExist(path))
      {
      var h2s = document.getElementById("{{aseat.seatid}}");
         h2s.style.backgroundColor = getColor(i);
      };

        var astyle = {"color":  getColor(i) ,"fillColor":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1, "fillOpacity": 0.5 };
        makeKMLLayer(fgroup,path,astyle,true,"{{aseat.name}}");
         i=i+1;
         if(i>11) i=0;
      }
   }
   {% endfor %}
   mymap.addLayer(fgroup);
   mymap.addLayer(fparent);
   fgroup.bringToBack();
   fparent.bringToFront();

   </script>
   </div>
{% endblock %}
