{# showgroup.html.twig #}

{% extends 'rgmaster.html.twig' %}


{% block middle %}
<div id="streetedit"  >
     <div class="heading  row" >
        <div class="label">{{district.name}}</div>
         <div class="button  right"> <a class="button" href = "/" >back</a> </div>
      </div>

       <div  class="menu" >
        <div class="list">
        {% for district in districts %}
          <div class="row">
             <div class="id indent">{{district.DistrictId}}</div>
             <div class="name">{{district.name}}</div>
             {% if  "group" in district.Level  %}
             <div class="button"> <a class="button" href = "/district/showparish/{{district.DistrictId}}" >View</a> </div>

             {% else %}
             <div class="button"> <a class="button" href = "/district/showparish/{{district.DistrictId}}" >View</a> </div>
             {% endif %}
             <div class="button"> <a class="button" href = "/district/edit/{{district.DistrictId}}" >Edit</a> </div>
             <div class="button wide"> <a class="button" href = "/district/heatmap/{{district.DistrictId}}" >Heat Map</a> </div>
          </div>
        {% endfor %}
        </div>



</div>
{% endblock %}
