{# showgroup.html.twig #}

{% extends 'rgmaster.html.twig' %}


{% block middle %}
<div id="streetedit"  >
     <div class="heading  row" >
        <div class="label">{{district.name}}</div>
           <div class="widebutton right"> <a class="button" href = "/district/newparish/{{district.DistrictId}}" >New Parish</a> </div>
         <div class="button"> <a class="button" href = "/" >back</a> </div>
     </div>

     <div  class="menu row" >
        <div class="list">
        {% for district in districts %}
          <div class="row">
          <div  id="{{district.DistrictId}}" class="id indent">{{district.DistrictId}}</div>
             <div class="name">{{district.name}}</div>
             {% if  "group" in district.Level  %}
             <div class="button"> <a class="button" href = "/district/showparish/{{district.DistrictId}}" >View</a> </div>

             {% else %}
             <div class="button"> <a class="button" href = "/district/showparish/{{district.DistrictId}}" >View</a> </div>
             {% endif %}
             <div class="button"> <a class="button" href = "/district/edit/{{district.DistrictId}}" >Edit</a> </div>
             <div class="button wide"> <a class="button" href = "/district/heatmap/{{district.DistrictId}}" >Heat Map</a> </div>
          </div>
        {% endfor %}
        </div>

<div class="map" style="width:50%;height:100%;">
<div id="goodmapid" ></div>
</div>
</div>

{% set geodata = district.getGeodata_json() %}


<script  type="text/javascript" >

   var mymap = myGoodMap("{{geodata}}");
   var fparent = new L.FeatureGroup();
      if("{{district.kml}}")
      {
         var aspath = "{{mappath}}districts/{{district.kml}}";
           makeKMLLayer(fparent,aspath,outlineStyle,true,"{{district.name}}");
      }
   {# set seatl = seatlist|json_encode|raw #};
   {# var seats = {{seatlist|json_encode|raw}} #};
   var aspath = "{{mappath}}{{district.kml}}";

   var i=0;
   var did = "{{district.districtid}}";
   var fgroup =  new L.featureGroup();
   {% for adistrict in districts %}
   {
      var path = "{{mappath}}{{imageroot}}/{{adistrict.kml}}";
      if(path)
      {

      if(doesFileExist(path))
      {
      var h2s = document.getElementById("{{adistrict.districtid}}");
         h2s.style.backgroundColor = getColor(i);
      };
       var astyle = {"color":  getColor(i) ,"fillColor":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1, "fillOpacity": 0.5 };
        makeKMLLayer(fgroup,path,astyle,true,"{{adistrict.name}}");
         i=i+1;

      }
   }
   {% endfor %}
   mymap.addLayer(fgroup);
   mymap.addLayer(fparent);
   fgroup.bringToBack();
   fparent.bringToFront();

   </script>
   </div>
{% endblock %}
