{# views/district/showone.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/subward.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>

{% endblock %}

{% block js %}
   {{ parent() }}
   <script src="{{asset('js/maps.js')}}"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
   <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
   <script src="{{asset('js/L.KML.js')}}"></script>

{% endblock %}

{% block middle %}
<div id="seat">
<div class="heading  row">
  <div class="label">Election District: </div>
  <div class="value">{{district.districtid}}</div>
  <div class="value">{{district.name}}</div>
  <div class="button  right"> <a class="button" href = "{{back}}" >Back</a> </div>
</div>


{% if message %}
<H1> No Seats found </H1>
{% else %}
<div class="subheading row">
      <div class="rgid" >SeatId</div>
      <div class="name" >Name</div>
       <div class="bnum" >Households</div>
      <div  class="button" ></div>
      <div  class="button" ></div>
</div>

<div class="list">
  {% set seatlist = [] %}
  {% for aseat in seats %}
    {% set seatlist = seatlist|merge([aseat.seatid]) %}
     <div class="seat row "  >
       <div class="seatid  id" id="{{aseat.seatid}}" >{{aseat.seatid}}</div>
         <div class="name" >{{aseat.name}}</div>
          <div class="bnum" >{{aseat.households}}</div>
       <div class="button wide" ><a class="button" href = "/seat/showrgs/{{district.districtid}}/{{aseat.seatid}}" >VIEW RoadGroups</a>   </div>
          <div class="button wide" ><a class="button" href = "/seat/showpds/{{district.districtid}}/{{aseat.seatid}}" >VIEW Polling Districts</a>   </div>
       <div class="button" ><a class="button" href = "/seat/edit/{{district.districtid}}/{{aseat.seatid}}" >EDIT</a>   </div>
     </div>
  {% endfor %}
  </div>
     <div class="button" ><a class="button" href = "/seat/new/{{district.districtid}}" >Add District</a>   </div>
{% endif %}


<div class="map" >
  <div id="swmapid" ></div>
</div>

  {% set jslocation = district.getjson() %}


  <script  type="text/javascript" >
    var mymap = mySwMap("{{jslocation}}");
     {# set seatl = seatlist|json_encode|raw #};
    {# var seats = {{seatlist|json_encode|raw}} #};
    var aspath = "{{mappath}}{{district.kml}}";

    var i=0;
    var did = "{{district.districtid}}";
    var fgroup =  new L.featureGroup();
    {% for aseat in seats %}
    {
      var path = null;
      {#var path = "http://rgmanager.lerot.org/maps/"+did+"_"+aseat+".kml";#}
      var path = "{{mappath}}{{district.districtid}}/{{aseat.kml}}";
      if(path)
      {
         var h2s = document.getElementById("{{aseat.seatid}}");
         h2s.style.backgroundColor = getColor(i);
         var style = {"color":  getColor(i) ,"fillColor":  getColor(i) , "weight": 6 ,  "clickable": true ,"opacity": 1, "fillOpacity": 0.5 };
         makeKMLLayer(mymap,path,style,true,"{{aseat.name}}");
         i=i+1;
         if(i>11) i=0;
      }
    }
   {% endfor %}
      if("{{district.kml}}")
      {
         var aspath = "{{mappath}}districts/{{district.kml}}";
         var style = {"color":  "#0000ff" , "weight": 4 ,  "clickable": true ,"opacity": 1, "fillOpacity": 0.0};
         makeOutlineKml(mymap,aspath,style, true,"{{district.name}}");
      }

   </script>
   </div>
{% endblock %}
