{# views/seat/edit.html.twig #}

{% extends 'rgmaster.html.twig' %}


{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/seat.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
   {{ parent() }}
   <script src="{{asset('js/maps.js')}}"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
   <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
   <script src="{{asset('js/L.KML.js')}}"></script>
{% endblock %}


{% block middle %}
<div id="middle" >
<div id="wardedit"  >
<div>
 <div class="heading  row" >
 <div class="label">Edit Seat:</div>
 <div class="title" > {{seat.name}}</div>
 <div class="button  right"> <a class="button" href ="/district/show/{{seat.districtid}}" >{{'back'}} </a> </div>
</div>
<div class="formmap">
<div  class="form" >
    {{ form_start(form) }}
    {{ form_row(form.DistrictId) }}
    {{ form_row(form.SeatId) }}
    {{ form_row(form.Name) }}
    {{ form_row(form.Households) }}
    {{ form_row(form.Electors) }}
    {{ form_row(form.Seats) }}
    {{ form_row(form.KML) }}
    <button type="submit">{{'Register!'}}</button>
    {{ form_end(form) }}
</div>

</div>
</div>
</div>
<div class="map" >
  <div id="goodmapid" ></div>
</div>

     {% set geodata = seat.getGeodata_obj | json_encode | raw   %}
     {% dump(geodata) %}
<script >
  var mymap = myGoodMap("{{geodata}}");
 {% if  seat.kml %}
      var aspath = "{{mappath}}{{seat.districtid}}/{{seat.kml}}";
      if("{{seat.kml}}")
      {
         makeKMLLayer(mymap,path,outlineStyle,false,"{{seat.name}}");
      }
      setBoundsGeodata(mymap, "{{geodata}}");
  {% endif %}
   </script>
{% endblock %}
