{# views/seat/showseats.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/seat.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src="{{asset('js/L.KML.js')}}"></script>
{% endblock %}

{% block middle %}

{% if message %}
<H1> Seat not found </H1>
{% else %}
<div id="seat" >
   <div class="heading  row">
      <div class="label">Seat: </div>
      <div class="value">{{district.seatid}}</div>
      <div class="value">{{district.name}}</div>
      <div class="message"> All  Seats in District</div>
      <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
   </div>

   <div  class="pdpanel  indent id">
      {% for key,value in wards %}
      <div  class="pdrow row indent id">
         <div  id="{{value.seatid}}" class="rgid" >
            <a class="routebutton"  href ="/seat/edit/{{district.seatid}}/{{value.seatid}}" >{{value.seatid}}</a>
         </div>
         <div class="bnum"> H:{{value.households}}</div>
         <div  class="button" > <a class="button"  href ="/seat/show/{{district.seatid}}/{{value.seatid}}" >View</a> </div>
         <div class="button"> <a class="button" href = "/seat/removepd/{{district.seatid}}/{{value.seatid}}" >Remove</a> </div>
      </div>
      {% endfor %}
   </div>


</div>
</div>


<div class="map" >
   <div id="goodmapid" ></div>
</div>
{% set geodata = district.getGeodata_json() %}

<script >
var mymap = myGoodMap("{{geodata}}");
var parent = new L.FeatureGroup();
{% if  district.kml %}
   var aspath = "{{mappath}}outlines/{{district.kml}}";
     makeKMLLayer(parent,aspath,outlineStyle,false);
{% endif %}

var i = 0;
var wards = new L.FeatureGroup();
{% for ward in wards %}

   var h2s = document.getElementById("{{ward.seatid}}");
   if(h2s)  h2s.style.backgroundColor = getColor(i);
   var apath = "{{mappath}}outlines/{{ward.kml}}";
   var style = {"color":  getColor(i) ,"fillColor":  getColor(i) , "weight": 6 ,  "clickable": true ,"opacity": 1, "fillOpacity": 0.5 };
   makeKMLLayer(wards,apath,style,true,"{{ward.seatid}}");
   i=i+1;
   if(i>11) i=0;
{% endfor %}


  mymap.addLayer(wards);
     mymap.addLayer(parent);
     parent.bringToFront();
setMarkers(mymap,"{{geodata}}");
setBounds2(mymap,"{{geodata}}");
</script>
{% endif %}
</div>
{% endblock %}
