{# views/seat/showpds.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/seat.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src="{{asset('js/L.KML.js')}}"></script>
{% endblock %}

{% block middle %}

{% if message %}
<H1> Seat not found </H1>
{% else %}
<div id="seat" >
<div class="heading  row">
<div class="label">{{seat.level}}: </div>
<div class="value">{{seat.districtid}}-{{seat.seatid}}</div>
<div class="value">{{seat.name}}</div>
{% if "parish"  in seat.level  %}
<div class="message"> All  Polling districts in Parish</div>
<div class="button  right"> <a class="button" href = "/seat/updateparish/{{seat.seatid}}" >Update</a> </div>
{% else %}
<div class="message"> All  Polling districts in Ward</div>
<div class="button  right"> <a class="button" href = "/seat/update/{{seat.seatid}}" >update</a> </div>
{% endif %}


<div class="button "> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
</div>

<div  class="pdpanel  indent id">
{% for key,value in pds %}
<div  class="pdrow row indent id">
<div  id="{{value.pdid}}" class="rgid" >
<a class="routebutton"  href ="/pollingdistrict/edit/{{value.pdid}}" >{{value.pdid}}</a>
</div>
<div class="bnum"> H:{{value.households}}</div>
<div  class="button" > <a class="button"  href ="/pollingdistrict/showstreets/{{value.pdid}}" >Edit</a> </div>
<div class="button"> <a class="button" href = "/seat/removepd/{{seat.districtid}}/{{seat.seatid}}/{{value.pdid}}" >Remove</a> </div>
</div>
{% endfor %}
</div>

<div class="buttonrow row">
<form action="/seat/addpollingdistrict/{{seat.districtid}}/{{seat.seatid}}"  method="post" enctype="multipart/form-data">
<button type="submit">Add Polling District</button>
<select name="selpd">
{% for apd in sparepds %}
<option value="{{apd.pdid}}">{{apd.pdid}}</option>
{% endfor %}
</select>
</form>
</div>
</div>
</div>


<div class="map" >
<div id="goodmapid" ></div>
</div>
{% set geodata = seat.getGeodata_json() %}

<script >
var mymap = myGoodMap("{{geodata}}");
{% if  seat.kml %}
var fparent = new L.FeatureGroup();

if("{{seat.kml}}")
{
  if("{{district.groupid}}")
  {
     var aspath = "{{mappath}}{{district.groupid}}/{{seat.kml}}";
  }
  else
  {
        var aspath = "{{mappath}}{{seat.districtid}}/{{seat.kml}}";
  }
  makeKMLLayer(fparent,aspath,outlineStyle,false);
}
{% endif %}

var i = 0;
var streets = new L.FeatureGroup();

{% for key,pd in sts %}
var h2s = document.getElementById("{{key}}");
if(h2s)  h2s.style.backgroundColor = getColor(i);
astreetfg =new L.FeatureGroup();
{% for astreet in pd %}
{
  thispath = drawPath(astreetfg,"{{astreet.getPath()}}","{{astreet.pdid}}",getStyle(i));
}
astreetfg.bindPopup("{{astreet.pdid}}");

streets.addLayer(astreetfg);
{% endfor %}

i=i+1;
;
{% endfor %}
   mymap.addLayer(streets);
     mymap.addLayer(fparent);
   streets.bringToFront();
   fparent.bringToBack();
   setBounds2(mymap,"{{geodata}}");
</script>
{% endif %}
</div>
{% endblock %}
