{# views/seat/showone.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/seat.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
   {{ parent() }}
   <script src="{{asset('js/maps.js')}}"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
   <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
   <script src="{{asset('js/L.KML.js')}}"></script>
{% endblock %}

{% block middle %}


{% if message %}
<H1> Seat not found </H1>
{% else %}
<div id="seat" >
<div class="heading  row">
  <div class="label">Seat: </div>
  <div class="value">{{seat.districtid}}-{{seat.seatid}}</div>
  <div class="value">{{seat.name}}</div>
  <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
</div>

   {% if (roadgrouplist | length) > 10   %}
           {% set hidden = 1 %}
           <div class="row" >
   {% else %}
         {% set hidden = 0 %}
           <div class="notrow" >
    {% endif %}
   {% for key,value in roadgrouplist %}

    {% for key2,value2 in value %}

     <div  class="row indent id">
        <div  id="{{key2}}" class="rgid" >
         <a class="routebutton"  href ="/rgsubgroup/show/{{ key2}}" >{{ key2}}</a>
         </div>
         {% if hidden == 1 %}
           <div  class="row">
             {% for key3,value3 in value2 %}
             <div class="name" >
             <a class="routebutton" id="{{value3.RoadgroupId}}" href ="/roadgroup/showone/{{ value3.RoadgroupId}}" >{{ value3.RoadgroupId}}</a>
             :{{ value3.Name }}  </div>
          {% endfor %}
      </div>
       {% endif %}
     </div>
    {% endfor %}
   {% endfor %}
</div>
<div class="map" >
  <div id="swmapid" ></div>
</div>

  {% set jslocation = seat.getjson() %}
  {% set abounds = bounds | json_encode | raw %}

  <script  type="text/javascript" >
      var mymap = mySwMap("{{jslocation}}");
 {% if  seat.kml %}
      var aspath = "{{mappath}}outlines/{{seat.kml}}";
      if("{{seat.kml}}")
      {
         var style = {"color":  "#000000" , "weight": 4 ,  "clickable": true ,"opacity": 1, "fillOpacity": 0.2};
         makeOutlineKml(mymap,aspath,style,false,"{{seat.name}}")
      }
     {% endif %}
        var i=0;
       {% for key,value in roadgrouplist %}
       {% for key2,value2 in value %}
          var akey = "{{key2}}";
          var h2s = document.getElementById(akey);
          if(h2s)
             h2s.style.backgroundColor = getColor(i);
          {% for value3 in value2 %}

            var kml = "{{value3.kml}}";
              var style = {"color":  getColor(i) , "weight": 14 ,  "clickable": true ,"opacity": 0.7, "fillOpacity": 0.1};
              if(kml)
              {
                var  path = "{{mappath}}roadgroups/"+kml;
                makeKMLLayer(mymap,path,style,false,"{{value3.name}}");
              }
         {% endfor %}
           i=i+1;
           if(i>11)i=0;
      {% endfor %}
     {% endfor %}
    {% dump(abounds) %}
     setMarkers(mymap,"{{abounds}}");
     setBounds2(mymap,"{{abounds}}");
   </script>
   {% endif %}
   </div>
{% endblock %}
