{# views/seat/showone.html.twig #}

{% extends 'master.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/seat.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
   {{ parent() }}
   <script src="{{asset('js/maps.js')}}"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
   <script src="{{asset('js/L.KML.js')}}"></script>
   <script>
     var popup = L.popup();
     function onMapClick(e)
     {
       popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(mymap);
        lat = e.latlng.lat;
        lng = e.latlng.lng;
        document.getElementById("street_form_Latitude").value=lat;
        document.getElementById("street_form_Longitude").value=lng;
      }
    </script>
{% endblock %}

{% block middle %}


{% if message %}
<H1> Seat not found </H1>
{% else %}
<div id="seat" >
<div class="heading  row">
  <div class="label">Seat: </div>
  <div class="value">{{seat.districtid}}-{{seat.seatid}}</div>
  <div class="value">{{seat.name}}</div>
  <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
</div>



   {% for key,value in roadgrouplist %}
    {% for key2,value2 in value %}

     <div  class="row indent id">
        <div  id="{{key2}}" class="rgid" >
         <a class="routebutton"  href ="/rgsubgroup/show/{{ key2}}" >{{ key2}}</a>
         </div>
           <div  class="row">
             {% for key3,value3 in value2 %}
             <div class="name" >
             <a class="routebutton" id="{{value3.RoadgroupId}}" href ="/roadgroup/showone/{{ value3.RoadgroupId}}" >{{ value3.RoadgroupId}}</a>
             :{{ value3.Name }}  </div>
          {% endfor %}
      </div>
     </div>
    {% endfor %}
   {% endfor %}

<div class="map" >
  <div id="swmapid" ></div>
</div>

  {% set jslocation = seat.getjson() %}


  <script  type="text/javascript" >

      var mymap = mySwMap("{{jslocation}}");

        var i=0;
       {% for key,value in roadgrouplist %}
       {% for key2,value2 in value %}
          var akey = "{{key2}}";
          var h2s = document.getElementById(akey);
          if(h2s)
             h2s.style.backgroundColor = getColor(i);
          {% for value3 in value2 %}

            var kml = "{{value3.kml}}";
              var style = {"color":  getColor(i) , "weight": 14 ,  "clickable": true ,"opacity": 0.7, "fillOpacity": 0.1};
              if(kml)
              {
                var  path = "{{mappath}}"+kml;
                makeKMLLayer(mymap,path,style);
              }
         {% endfor %}
           i=i+1;
      {% endfor %}
     {% endfor %}
     {% if  seat.kml %}
      var aspath = "{{mappath}}{{seat.kml}}";
      if("{{seat.kml}}")
      {
         var style = {"color":  "#000000" , "weight": 4 ,  "clickable": true ,"opacity": 1, "fillOpacity": 0.2};
         makeKMLLayer(mymap,aspath,style)
      }
     {% endif %}
     mymap.on('click', onMapClick);
   </script>
   {% endif %}
   </div>
{% endblock %}
