{# views/roadgroup/edit.html.twig #}

{% extends 'master.html.twig' %}


{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/roadgroup.css') }}" rel="stylesheet" />

{% endblock %}
{% block js %}
 {{ parent() }}
{% endblock %}




{% block middle %}
<div id="roadgroupedit"  >
<div>
 <div class="heading  row" >
 <div class="label">Edit Roadgroup:</div>
 <div class="title" > {{roadgroup.roadgroupid}}</div>
 <div class="button  right"> <a class="button" href = {{back}} >Back</a> </div>
</div>
<div  class="form" >
    {{ form_start(form) }}
    {{ form_row(form.RoadGroupId) }}
    {{ form_row(form.Name) }}
    {{ form_row(form.Rggroupid) }}
    {{ form_row(form.Rgsubgroupid) }}
      {{ form_row(form.Year) }}
        {{ form_row(form.KML) }}
    {{ form_row(form.Households) }}
    {{ form_row(form.Electors) }}
    {{ form_row(form.Distance) }}
    <button type="submit">{{'Register!'}}</button>
       {{ form_row(form.Note) }}
    {{ form_end(form) }}
</div>
<div class ="row">
     <div class="deletebutton right "> <a class="button  red" href ="/roadgroup/delete/{{roadgroup.roadgroupid}}" >{{'DELETE ROADGROUP'}} </a> </div>
</div>
</div>

{% endblock %}
