{# views/roadgroup/showall.html.twig #}

{% extends 'master.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/roadgroup.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}
<div class="roadgroup">
{% if message %}
<H1>{{message}} </H1>

{% else %}
    <div class="heading row">
    <div class="label">Polling Districts</div>
     <div class="message"> All Roadgroups containing Streets in given Polling District</div>
    <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
    </div>

     <div class="roadgroup header  list row">

                         <div class="rgid" >PD</div>
   </div>
    <div  class="pagescroll list" >
       {% for key, pd in pds %}

                    <div class="roadgroup row " >
                    <div class="rgid" >{{key}}:</div>
                    {% for rg  in pd  %}
                       <div  class="rgid" > <a class="routebutton" href = "/roadgroup/showone/{{rg}}" >{{rg}} </a>
                       </div>
                     {% endfor %}
                     </div>
       {% endfor %}
    </div>
{% endif %}

</div>
{% endblock %}
