{# views/roadgroup/showone.html.twig #}

{% extends 'rgmaster.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/roadgroup.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}
{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>

<script src="{{asset('js/L.KML.js')}}"></script>

{% endblock %}


{% block middle %}
<div class="roadgroup">


  {% if message %}
  <div class="heading row">
    <div class="label"> Road Group </div>
  </div>
  <H1> No streets found </H1>

  {% else %}

<div class="heading row">
 <div class="label"> Road Group </div>

    <div class="value"> {{roadgroup.RoadgroupId}}:</div>
    <div class="value"> {{roadgroup.Name}}</div>
   <div class="button  right"> <a class="button" href = "/roadgroup/update/{{roadgroup.RoadgroupId}}" >update </a> </div>
    <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
  </div>
  <div class="heading small row">
   <div class="value small"> HH:{{roadgroup.Households}}</div>
   <div class="value small"> EE:{{roadgroup.Electors}}</div>
   <div class="value small"> RDS:{{roadgroup.streets}}</div>
  </div>
  <div class="subheading row">
    <div class="name" >Name/part</div>
    <div class="button wide" >PD</div>
    <div  class="num" >House-holds</div>
    <div  class="num" >Electors</div>
    <div  class="num" >Dist</div>
    <div  class="num" >Steps</div>
    <div  class="button" ></div>
  </div>
  <div class="list" >
    {% for street in streets %}
    <div class="street row" >
      <div class="name" >{{street.name}}
        {% if street.part %}
        /{{street.part}}
        {% endif %}
      </div>
      <div class="button wide" ><a class="button" href = "/pollingdistrict/show/{{street.pdid}}" >{{street.pdid}}</a></div>
      <div  class="num" >{{street.households}}</div>
        <div  class="num" >{{street.electors}}</div>
          {% if street.geodata %}
        <div  class="num" >{{street.geodata.dist}}</div>
           {% else %}
    <div  class="num" >???</div>
    {% endif %}
        {% if street.geodata %}
        <div  class="num" >{{street.geodata.steps}}</div>
           {% else %}
    <div  class="num" >??</div>
    {% endif %}
       <div  class="num" ></div>
      <div class="button"> <a class="button" href = "/street/edit/{{street.seq}}" >Edit</a> </div>
         <div class="button wide"> <a class="button" href = "/street/remove/{{roadgroup.RoadgroupId}}/{{street.seq}}" >Remove</a> </div>
         {% if street.note %}
         <div  class="name"
          style="cursor:pointer;"
     title="{{street.note}}">Note</div>
        {% endif %}

    </div>
    {% endfor %}
  </div>
  <div class="buttonrow row">
  <form action="/street/add/{{roadgroup.RoadgroupId}}"  method="post" enctype="multipart/form-data">
      <button type="submit">Add Street</button>
    <select name="selstreet">
{% for astreet in sparestreets %}
    <option value="{{ astreet.seq}}">{{astreet.name }}/{{astreet.pdid}}</option>
{% endfor %}
</select>
  </form>
    <div class="button"> <a class="small button" href = "/roadgroup/newstreet/{{roadgroup.RoadgroupId}}" >New Street</a> </div>

  </div>

    <div  class="altbutton row"  >
      <div class="button"> <a class="small button" href = "/roadgroup/update/{{roadgroup.RoadgroupId}}" >New Map</a> </div>
      <form action="{{ path('do-upload') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="utoken" value="{{ csrf_token('upload-map') }}" />
        <input type="hidden" name="rgid" value="{{roadgroup.RoadgroupId}}" />
          <label for="fileToUpload">Select map to upload:</label>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
  <div>KML:{{roadgroup.kml}}</div>
 <div class="mapsection" style="background-color:pink;">
<div class="map" >
  <div id="goodmapid" ></div>
</div>
     {% dump(roadgroup) %}
     {% set geodata = roadgroup.getGeodata_obj | json_encode | raw   %}
     {% dump(geodata) %}
<script >
  var mymap = myGoodMap("{{geodata}}");
  var kml = "{{roadgroup.kml}}";
  var path = "{{mappath}}/roadgroups/"+kml;
  if(kml)
  {
    var style = {"color":  "#0000FF" , "weight": 14 ,  "clickable": true ,"opacity": 0.3, "fillOpacity": 0.1 };
    makeOutlineKml(mymap, path,style,false,kml);
  }
  var style = {"color":  "#FF0000" , "weight": 14 ,  "clickable": true ,"opacity": 0.3, "fillOpacity": 0.1 };
   {% for street in streets %}
      drawPath(mymap,"{{street.getPath()}}","{{street.getName()}}");
   {% endfor %}
  setMarkers(mymap,"{{geodata}}");
  setBounds2(mymap,"{{geodata}}");
</script>
{% endif %}
</div>
{% endblock %}
