{# views/rggroup/edit.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/rggroup.css') }}" rel="stylesheet" />
{% endblock %}
{% block js %}
 {{ parent() }}
 <script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
 <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script>
   var popup = L.popup();
    function onMapClick(e) {
       popup
        .setLatLng(e.latlng)
        .setContent("You clicked the map at " + e.latlng.toString())
        .openOn(mymap);
        lat = e.latlng.lat;
        lng = e.latlng.lng;
      document.getElementById("street_form_Latitude").value=lat;
      document.getElementById("street_form_Longitude").value=lng;
     }
   </script>
{% endblock %}

{% block middle %}
<div id="middle" >
<div id="rggroupedit"  >
<div>
 <div class="heading  row" >
 <div class="label">Edit RG-Group:</div>
 <div class="title" > {{rggroup.name}}</div>
 <div class="button  right"> <a class="button" href ="/rggroup/showall" >{{'back'}} </a> </div>
</div>
<div class="formmap">
<div  class="form" >
    {{ form_start(form) }}
    {{ form_row(form.Rggroupid) }}
    {{ form_row(form.Name) }}
    {{ form_row(form.KML) }}
    {{ form_row(form.Households) }}
    {{ form_row(form.Electors) }}
    <button type="submit">{{'Register!'}}</button>
    {{ form_end(form) }}
</div>
<div class="button  right"> <a class="deletebutton" href ="/rggroup/delete/{{rggroup.Rggroupid}}" >{{'delete'}} </a> </div>

<div class="map" >
  <div id="goodmapid" ></div>
</div>

         {% set jslocation = rggroup.getjson() %}
      <script  type="text/javascript" >
      var mymap = myGoodMap("{{jslocation}}");
         mymap.on('click', onMapClick);
         var path = "{{mappath}}outlines/{{topmap}}";
{
   var style = {"color":  "#0000FF" , "weight": 5 ,  "clickable": true ,"opacity": 0.2, "fillOpacity": 1.0};
   makeOutlineKml(mymap, path,style,false,"All RG-Groups");
}
      </script>
</div>
</div>
</div>
{% endblock %}
