{# views/rggroup/showone.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('/css/rggroup.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
  {{ parent() }}
  <script src="{{asset('js/maps.js')}}"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
  <script src="{{asset('js/L.KML.js')}}"></script>

{% endblock %}


{% block middle %}
  <div class="heading  row">
     <div class="label"> RG-Groups:</div>
     <div class="value"> {{rggroup.rggroupid}}:</div>
     <div class="value"> {{rggroup.name}}</div>
     <div class="button  right"> <a class="button" href = "/rggroup/updategroup/{{rggroup.rggroupid}}" >Update </a> </div>
     <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
  </div>
  <div class="heading small row">
   <div class="value small"> HH:{{rggroup.Households}}</div>
   <div class="value small"> EE:{{rggroup.Electors}}</div>
   <div class="value small"> RGS:{{rggroup.roadgroups}}</div>
   <div class="value small"> RDS:{{rggroup.streets}}</div>
  </div>

{% if message %}
   <H1> {{message}} </H1>
{% else %}
 <div class="subheading row">
      <div class="rgid" >RG-SubgroupId</div>
      <div class="name" >Name</div>
       <div class="bnum" >Households</div>
      <div class="bnum" >Electors</div>
      <div class="bnum" >Roadgroups</div>
        <div class="bnum" >Streets</div>
         <div class="bnum" >PW</div>
          <div class="bnum" >PN</div>
      <div class="button" ></div>
      <div class="button" ></div>
   </div
      <div class="rggroups">
      {% for subgroup in subgroups %}
         <div class="rggroup row" >
           <div class="rgid" id="{{subgroup.rgsubgroupid}}">{{subgroup.rgsubgroupid}}</div>
           <div class="name" >{{subgroup.name}}</div>
           <div class="bnum" >{{subgroup.households}}</div>
           <div class="bnum" >{{subgroup.electors}}</div>
           <div class="bnum" >{{subgroup.roadgroups}}</div>
           <div class="bnum" >{{subgroup.streets}}</div>
           {% if subgroup.electors > 0 %}
             <div class="bnum" >{{ (subgroup.PLVW/subgroup.electors) | number_format(2)}}</div>
             <div class="bnum" >{{ (subgroup.PLVN/subgroup.electors) | number_format(2)}}</div>
           {% else %}
             <div class="bnum" >0</div>
             <div class="bnum" >0</div>
           {% endif %}
           <a class="button" href = "/rgsubgroup/show/{{subgroup.rgsubgroupid}}" >VIEW</a>
           <a class="button" href = "/rgsubgroup/edit/{{subgroup.rgsubgroupid}}" >EDIT</a>
        </div>
      {% endfor %}
      </div>
      <a class="button" href = "/rgsubgroup/new/{{rggroup.rggroupid}}" >MAKE RG-Subgroup</a>

{% if roadgroups|length >0 %}
<div class="subheading  row">
  <div class="label red"> Roadgroups unallocated</div>
</div>
<div class="list">
  {% for roadgroup in roadgroups %}
  <div class=" row  indent">
    <div class="rgid" >{{roadgroup.roadgroupid}}</div>
    <div class="name" >{{roadgroup.name}}</div>
     <div class="name" >{{roadgroup.ccname}}</div>
    <a class="button" href = "/roadgroup/edit/{{roadgroup.roadgroupid}}" >VIEW</a>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="subheading  row">
  <div class="label"> No un-allocated roadgroups found</div>
</div>
{% endif %}

<div class="map" >
  <div id="goodmapid" ></div>
</div>
  {% set ggeodata = rggroup.geodata | json_encode | raw  %}
  {% dump(ggeodata)  %}
<script >

var mymap = myGoodMap("{{ggeodata}}");

var bounds = null;
var rggrouplayer = null;
var fgroup =  new L.featureGroup();

 kml = "{{rggroup.kml}}";
  var path = "{{mappath}}roadgroups/"+kml;



var i=0;
{% for key,asubgroup in sglist %}
 var countsgs = 0;
{% for key2,kml in asubgroup %}
    var style = {"color":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1.0, "fillOpacity": 1.0 };
      var  kml = "{{kml}}";
      var path = "{{mappath}}roadgroups/"+kml;
      if(kml)
      {
        countsgs = countsgs+1;
        makeKMLLayer(mymap,path,style,false,"{{key2}}");
      }
  {% endfor %}

  if(countsgs > 0)
  {
    var h2s = document.getElementById("{{key}}");
    h2s.style.backgroundColor = getColor(i);
    i=i+1;
    if(i>11)i=0;
  }
 {% endfor %}
  kml = "{{rggroup.kml}}";
  var path = "{{mappath}}outlines/"+kml;
      if(kml)
      {
          var style = {"color": "#0000FF","fillcolor": "#FF00FF", "weight": 5 ,  "clickable": true,"opacity": 0.2, "fillOpacity": 0.0 };
          makeOutlineKml(mymap,path,style,false,"{{rggroup.name}}")
      }

   setMarkers(mymap,"{{ggeodata}}");
    setBounds2(mymap,"{{ggeodata}}");
</script>
{% endif %}
{% endblock %}
