{# views/rggroup/showall.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
    <link href="{{ asset('/css/rggroup.css') }}" rel="stylesheet" />
    <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
{% endblock %}

{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src="{{asset('js/L.KML.js')}}"></script>
{% endblock %}

{% block middle %}
<div class="heading  row">
  <div class="label"> All RG-Groups</div>
  <div class="button  right"> <a class="button" href = "/" >{{'back'}} </a> </div>
</div>


{% if message %}
<H1> No RG-Groups found </H1>

{% else %}
  <div class="subheading row" >
                       <div class="rgid">RG-GroupId</div>
                       <div class="name">Name</div>
                         <div class="num">House-holds</div>
                         <div class="num">Totaled House-holds</div>
                         <div class="num">No. Road-groups</div>
                         <div class="num">No. Maps</div>
                     </div>
<div class="list">
    <div id="wards" >
       {% for rggroup in rggroups %}
                    <div class="row" >
                       <div class="rgid" id="{{rggroup.rggroupid}}" >{{rggroup.rggroupid}}</div>
                        <div class="name" >{{rggroup.name}}</div>
                         <div class="num" >{{rggroup.households}}</div>
                         <div class="num" >({{rggroup.total}})</div>
                         <div class="num"> {{rggroup.rgcount}}</div>
                         <div class="num"> {{rggroup.rgfound}}</div>
                        <a class="button" href = "/rggroup/show/{{rggroup.rggroupid}}" >VIEW</a>
                        <a class="button" href = "/rggroup/edit/{{rggroup.rggroupid}}" >EDIT</a>
                     </div>
       {% endfor %}
    </div>
</div>
 <a class="button" href = "/rggroup/new" >ADD NEW RG-Group</a>

   {% if roadgroups|length >0 %}
<div class="subheading  row">
  <div class="label">Spare Roadgroups</div>
</div>
  <div class="list">
       {% for roadgroup in roadgroups %}
       <div class="row">
                 <div class="rgid" >{{roadgroup.roadgroupid}}</div>
                 <div class="name" >{{roadgroup.name}}</div>
                 <a class="button" href = "/roadgroup/edit/{{roadgroup.roadgroupid}}" >VIEW</a>
        </div>
       {% endfor %}
   </div>
   {% else %}
   <div class="subheading row">
  <div class="label"> No un-allocated roadgroups found</div>
</div>
   {% endif %}
{% endif %}
</div>
<div class="map" >
  <div id="wmapid" ></div>
</div>
  {% set abounds = bounds | json_encode | raw %}
<script >

var jslocation = '{ "name":"LCC","longitude":"-1.8304","latitude":"52.6854" }';

var mymap = myWMap(jslocation);

var i=0;

{% for key,asubgroup in rggroups %}

 var countsgs = 0;
{% for roadgroup in asubgroup.roadgroups %}
    var style = {"color":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1.0, "fillOpacity": 1.0 };
      var  kml = "{{roadgroup.kml}}";
      var path = "{{mappath}}roadgroups/"+kml;
      if(kml)
      {
        countsgs = countsgs+1;
        makeKMLLayer(mymap,path,style,true,kml);
      }
  {% endfor %}

  if(countsgs > 0)
  {
    var h2s = document.getElementById("{{asubgroup.rggroupid}}");
    h2s.style.backgroundColor = getColor(i);
    i=i+1;
    if(i>11)i=0;
  }
 {% endfor %}
 var path = "{{mappath}}outlines/{{topmap}}";
{
   var style = {"color":  "#0000FF" , "weight": 5 ,  "clickable": true ,"opacity": 0.2, "fillOpacity": 1.0};
   makeOutlineKml(mymap, path,style,false,"All RG-Groups");
}

  //drawBox(mymap,"{{abounds}}");
  setBounds2(mymap,"{{abounds}}");
</script>
{% endblock %}
