{# rgmenu.html.twig #}

{% extends 'rgmaster.html.twig' %}


{% block middle %}
<div id="streetedit"  >
     <div class="heading  row" >
        <div class="label">Main Menu:</div>
      </div>

       <div  class="menu" >
        <div class="subheading">Elected Authorities</div>
        <div class="list">
        {% for district in districts %}
          <div class="row">
             <div class="id indent">{{district.DistrictId}}</div>
             <div class="name">{{district.name}}</div>
             {% if  "group" in district.Level  %}
             <div class="button"> <a class="button" href = "/district/showgroup/{{district.DistrictId}}" >View</a> </div>
               {% elseif  "parish" in district.Level  %}
             <div class="button"> <a class="button" href = "/district/showparish/{{district.DistrictId}}" >View</a> </div>
                     {% elseif  "warded parish" in district.Level  %}
             <div class="button"> <a class="button" href = "/district/showparish/{{district.DistrictId}}" >View</a> </div>
             {% else %}
             <div class="button"> <a class="button" href = "/district/show/{{district.DistrictId}}" >View</a> </div>
             {% endif %}
             <div class="button"> <a class="button" href = "/district/edit/{{district.DistrictId}}" >Edit</a> </div>
             <div class="button wide"> <a class="button" href = "/district/heatmap/{{district.DistrictId}}" >Heat Map</a> </div>
          </div>
        {% endfor %}
        </div>
        <div class="subheading">Browser</div>

        <div class="button"> <a class="button" href = "rggroup/showall" >Browse Road Groups</a></div>
        <div class="button"> <a class="button" href = "roadgroup/showall" >Search Road Groups</a></div>
        <div class="button"> <a class="button" href = "pollingdistrict/showall" >Polling Districts</a></div>
        <div class="button"> <a class="button" href = "/street/showall" >Streets</a> </div>
        <div class="subheading">Management Tools</div>
         <div class="button"> Years Available</div>
         {% for year in years %}
          <div class="button"> <a class="button" href = "selectyear/{{year["year"]}}" >{{year["year"]}}</a> </div>
          {% endfor %}

      </div>
        <div/>
        <div  class="subheading" >Uploading maps to server</div>
        <div>
         <div  class="altbutton row"  >

      <form action="{{ path('do-upload') }}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />

          <label for="fileToUpload">Select map to upload:</label>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <button type="submit">Send</button>
        </form>
      </div>
    </div>

        </div
        <div  class="subheading" >Some useful links</div>
         <div class="button  "> <a class="routebutton" href = "https://mapit.mysociety.org/area/2434.html"  target="_blank">Mapit Mysociety for administrative borders</a> </div>
           <div class="button  "> <a class="routebutton" href = " https://lichfielddc.maps.arcgis.com/apps/webappviewer/index.html?id=f15c49e001cd48239abf6571b5d3f68d"  target="_blank">LDC Polling District map</a> </div>

</div>
{% endblock %}
