{# views/street/edit.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
{% endblock %}

{% block middle %}
<div id="middle" >
<div id="subwardedit"  >
<div>
 <div class="heading  row" >
 <div class="label">{{'New RG-Subgroups' }}:</div>
 <div class="button  right"> <a class="button" href = {{returnlink}} >{{'back'}} </a> </div>
</div>
<div class="formmap">
<div  class="form" >
    {{ form_start(form) }}
    {{ form_row(form.Rgsubgroupid) }}
    {{ form_row(form.Name) }}
    {{ form_row(form.Rggroupid) }}
    <button type="submit">{{'Register!'}}</button>
    {{ form_end(form) }}
</div>

</div>
</div>
</div>
{% endblock %}
