{# views/rgsubgroup/showone.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/subgroup.css') }}" rel="stylesheet" />
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
{% endblock %}

{% block js %}
   {{ parent() }}
   <script src="{{asset('js/maps.js')}}"></script>
   <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
   <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
   <script src="{{asset('js/L.KML.js')}}"></script>
{% endblock %}

{% block middle %}
<div class="heading  row">
  <div class="label">RG-Subgroup: </div>
  <div class="value">{{subgroup.rgsubgroupid}}:</div>
  <div class="value">{{rggroup.name}}</div>
  <div class="value">{{subgroup.name}}</div>
  <div class="button  right"> <a class="button" href = "/rgsubgroup/update/{{subgroup.rgsubgroupid}}" >Update </a> </div>
  <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
</div>
 <div class="heading small row">
      <div class="bnum" >HH:{{subgroup.households}}</div>
      <div class="bnum" >EE:{{subgroup.electors}}</div>
      <div class="bnum" >RGS:{{subgroup.roadgroups}}</div>
      <div class="bnum" >RDS:{{subgroup.streets}}</div>
   </div>
{% if message %}
   <H1> {{message}} </H1>
{% else %}
   <div class="subheading row">
      <div class="rgid" >Road group Id</div>
      <div class="name" >Name</div>
       <div class="name" >CCName</div>
        <div class="bnum" >Households</div>
      <div class="bnum" >Streets</div>
      <div class="bnum" >Electors</div>
      <div class="bnum" >LW</div>
       <div class="bnum" >LN</div>
      <div class="button" ></div>
      <div class="button" ></div>
   </div>
  {% set tracks = [] %}
  <div class="list">
  {% for aroadgroup in roadgroups %}
  {% set tracks = tracks|merge([aroadgroup.roadgroupid]) %}
     <div class="roadgroup row "  >
       <div class="roadgroupid" id="{{aroadgroup.roadgroupid}}" >{{aroadgroup.roadgroupid}}</div>
       <div class="name" >{{aroadgroup.name}}</div>
       <div class="name" >{{aroadgroup.ccname}}</div>
       <div class="bnum" >{{aroadgroup.households}}</div>
       <div class="bnum" >{{aroadgroup.streets}}</div>
      <div class="bnum" >{{aroadgroup.electors}}</div>
      {% if aroadgroup.electors > 0 %}
      <div class="bnum" >{{ (aroadgroup.PLVW/aroadgroup.electors) | number_format(2)}}</div>
      <div class="bnum" >{{ (aroadgroup.PLVN/aroadgroup.electors) | number_format(2)}}</div>
      {% else %}
       <div class="bnum" >0</div>
       <div class="bnum" >0</div>
      {% endif %}
       <div class="button" ><a class="button" href = "/roadgroup/showone/{{aroadgroup.roadgroupid}}" >VIEW</a>   </div>
       <div class="button" ><a class="button" href = "/roadgroup/edit/{{aroadgroup.roadgroupid}}" >EDIT</a>   </div>
        <div class="button" ><a class="button" href = "/roadgroup/removefromsubgroup/{{aroadgroup.roadgroupid}}" >REMOVE</a>   </div>
     </div>
  {% endfor %}
  </div>
{% endif %}

<div><a class="button" href = "/roadgroup/new/{{rggroup.rggroupid}}/{{subgroup.rgsubgroupid}}" >ADD NEW ROADGROUP</a></div>
  {% if spareroadgroups|length >0 %}
<div class="subheading  row">
  <div class="label red"> Spare Roadgroups</div>
</div>
<div class="rglist">
  {% for roadgroup in spareroadgroups %}
  <div class="street row indent">
  <div class="name" >{{roadgroup.roadgroupid}}</div>
     <div class="name" >{{roadgroup.name}}</div>
     <div class="name" >{{roadgroup.ccname}}</div>
    <a class="button" href = "/rggroup/addroadgroup/{{rggroup.rggroupid}}/{{subgroup.rgsubgroupid}}/{{roadgroup.roadgroupid}}" >add</a>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="subheading  row">
  <div class="label"> No spare roadgroups found</div>
</div>
{% endif %}
<div class="map" >
  <div id="goodmapid" ></div>
</div>
  {% set sggeodata = subgroup.geodata | json_encode | raw  %}

<script >
    var mymap = myGoodMap("{{sggeodata}}");
      var fparent = new L.FeatureGroup();
      if("{{rggroup.kml}}")
      {
          var path = "{{mappath}}roadgroups/{{rggroup.kml}}";
          makeKMLLayer(fparent,path,outlineStyle,false,"{{rggroup.rggroupid}}");
      }
      var i=0;
      var fgroup = new L.FeatureGroup();
      {% for aroadgroup in roadgroups %}
          var frggroup = new L.FeatureGroup();
          if("{{aroadgroup.kml}}")
          {
            var path = "{{mappath}}roadgroups/{{aroadgroup.kml}}";
            var h2s = document.getElementById("{{aroadgroup.roadgroupid}}");
            if(h2s) h2s.style.backgroundColor = getColor(i);
            var astyle = {"color":  getColor(i) ,"fillColor":  getColor(i) , "weight": 4 ,  "clickable": true ,"opacity": 1, "fillOpacity": 0.5 };
                addRoadgroup(mymap, path, astyle);
           // addKMLLayer(mymap,path,getStyle(i),false,"{{aroadgroup.name}}");
            i=i+1;
            if(i==5)
            {
              var x=1 ;
            }
           //fgroup.addLayer(frggroup);
          }
      {% endfor %}
       //mymap.addLayer(fgroup);
        mymap.addLayer(fparent);
        fparent.bringToFront();
        fgroup.bringToBack
      setBounds2(mymap,"{{sggeodata}}");
   </script>

{% endblock %}
