{# views/street/editstreets.html.twig #}

{% extends 'rgmaster.html.twig' %}


{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('/css/street.css') }}" rel="stylesheet" />
<link href="{{ asset('/css/pollingdistrict.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>

{% endblock %}

{% block js %}
{{ parent() }}
<script src="{{asset('js/maps.js')}}"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js'></script>
<script src="{{asset('js/L.KML.js')}}"></script>

{% endblock %}


{% block middle %}
<div  id="pollingdistrict" class="street">
  {% if message %}
  <H1> {{message}} </H1>

  {% else %}
  <div class="heading row">
    <div class="label"> Streets in PollingDistrict </div>
    <div class="label">{{pollingdistrict.districtid}} </div>
    <div class="label">{{pollingdistrict.pdid}} </div>
    <div class="label">{{pollingdistrict.name}}</div>
    <div class="largebutton right"> <a class="button" href = "{{showseat}}" >View Seat</a> </div>
    <div class="largebutton"> <a class="button" href = "{{newstreet}}" >New Street</a> </div>

  </div>

  <div class="splitpage"  >
    <div class="column1">

      <div class="subheading row">
        <div class="name" >Name/part</div>
        <div  class="button" ></div>
        <div  class="button" ></div>
      </div>
      <div class="list  pagescroll" >
        {% for street in streets %}

        <div class="row" >
          <div class="name {{street.color}}" >{{street.fullname}}</div>
          <div class="num {{street.color}}" >{{street.households}}</div>
          <div class="button"> <a class="button" href = "/street/edit/{{street.seq}}" >Edit</a> </div>
          <div  class="shorttext" > {{street.note}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class= "column2">
      <div class="map" >
        <div id="goodmapid" ></div>
      </div>
      {% set sggeodata = pollingdistrict.geodata | json_encode | raw  %}

      <script >
        var mymap = myGoodMap("{{sggeodata}}");
        var fparent = new L.FeatureGroup();
        var i=1;
        {% for seat in seats %}
        var style = fineOutlineStyle;
        style.color = colors[i];
      {% if seat.groupid %}
       var aspath = "{{mappath}}{{seat.groupid}}/{{seat.kml}}";
      {% else %}
        var aspath = "{{mappath}}{{seat.districtid}}/{{seat.kml}}";
        {% endif %}
        makeKMLLayer(fparent,aspath,style,"{{seat.seatid}}");
        i=i+1;
        {% endfor %}
        i=0;
        var fgroup =  new L.featureGroup();
        {% for street in streets %}
        var estyle = {"color":  getColor(i) , "weight": 14 ,  "clickable": true ,"opacity": 0.7, "fillOpacity": 0.1 };
        drawPath(fgroup,"{{street.getPath()}}","{{street.getName()}}",baseStyle);
        i=i+1;
        if(i>11)i=0;
        {% endfor %}
        mymap.addLayer(fgroup);
        mymap.addLayer(fparent);
        fparent.bringToFront();
        fgroup.bringToBack();
        setBounds2(mymap,"{{sggeodata}}");
      </script>

    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
