{# views/pollingdistrict/showall.html.twig #}

{% extends 'rgmaster.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/roadgroup.css') }}" rel="stylesheet" />
{% endblock %}


{% block middle %}
<div class="roadgroup">
{% if message %}
<H1>{{message}} </H1>

{% else %}
    <div class="heading row">
       <div class="label">Polling Districts</div>
       <div class="message"> All Polling Districts and Seats containing them ( a PD can only be in one seat for each level) </div>
       <div class="button  right"> <a class="button" href = "{{back}}" >{{'back'}} </a> </div>
        <div class="button  right"> <a class="button" href = "/pollingdistrict/edit/new" >New PD</a> </div>
    </div>
    <div class="roadgroup header  list row">
        <div class="rgid" >PD</div>
         <div class="rgid" >District</div>
  <div class="rgid" ></div>
    <div class="rgid" ></div>
        <div class="rgid" >Parish/Ward</div>
        <div class="rgid" >District Ward</div>
        <div class="rgid" >County Division</div>
        <div class="rgid" >Constituency</div>
    </div>
    {% dump(pds) %}
   <div  class="pagescroll list" >
       {% for key, pd in pds %}
         <div class="roadgroup row " >
             <div  class="rgid" > <a class="routebutton" href = "/pollingdistrict/show/{{key}}" >{{key}}</a></div>
              <div  class="rgid" > {{pd.districtid}}</a></div>
                 <div  class="rgid" > <a class="routebutton" href = "/pollingdistrict/edit/{{key}}" >Edit</a></div>
              <div  class="rgid" > <a class="routebutton" href = "/pollingdistrict/showstreets/{{key}}" >Show Streets</a></div>

            {% if pd.parish is defined %}
            <div  class="rgid" > <a class="routebutton" href = "/seat/showpds/LCC/{{pd["parish"]}}" >{{pd["parish"]}}</a></div>
            {% else %}
            <div class="rgid" >...</div>
           {% endif %}
            {% if pd.district is defined %}
            <div  class="rgid" > <a class="routebutton" href = "/seat/showpds/LDC/{{pd["district"]}}" >{{pd["district"]}}</a></div>
            {% else %}
              <div class="rgid" >...</div>
            {% endif %}
            {% if pd.county is defined %}
               <div  class="rgid" > <a class="routebutton" href = "/seat/showpds/SCC/{{pd["county"]}}" >{{pd["county"]}}</a></div>
            {% else %}
                <div class="rgid" >...</div>
             {% endif %}
              {% if pd.parliament is defined %}
               <div  class="rgid" > <a class="routebutton" href = "/seat/showpds/UKP/{{pd["parliament"]}}" >{{pd["parliament"]}}</a></div>
            {% else %}
                <div class="rgid" >...</div>
             {% endif %}
           </div>
       {% endfor %}
    </div>
{% endif %}

</div>
{% endblock %}
